@import url('@fontsource/ubuntu/300.css');
@import url('@fontsource/ubuntu/400.css');
@import url('@fontsource/ubuntu/500.css');
@import url('@fontsource/ubuntu/700.css');
@import url('@fontsource-variable/open-sans');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 7px;
}

@media (width <= 640px) {
	::-webkit-scrollbar {
		width: 5px;
	}
}

::-webkit-scrollbar-thumb {
	background-color: rgb(255 255 255 / 20%);
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgb(255 255 255 / 30%);
}

::-webkit-scrollbar-thumb:active {
	background-color: rgb(255 255 255 / 25%);
}

::-webkit-scrollbar-corner {
	background-color: #181818;
}
